@{
    ViewData["Title"] = "Vacinas";
}

<form method="post" asp-controller="Vacina" asp-action="CreateVacina">
    
    <div class="form-group">
        <label for="PetID">Selecione um pet:</label>
        @Html.DropDownList("PetID", ViewBag.PetID as IEnumerable<SelectListItem>, "Selecione...", new { @class = "form-control" })
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="NomeVacina" name="NomeVacina" placeholder="Aztraeneneca" required />
        <label for="NomeVacina">Nome da Vacina</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="LoteVacinal" name="LoteVacinal" placeholder="123-ABC" required />
        <label for="NomeVacina">Lote Vacinal</label>
    </div>
    <div class="form-floating">
        <input type="date" class="form-control" id="DataAplicacao" name="DataAplicacao" required />
        <label for="DataAplicacao">Data da Aplicação</label>
    </div>
    <div class="form-floating">
        <input type="date" class="form-control" id="ValidadeImunizante" name="ValidadeImunizante" required />
        <label for="ValidadeImunizante">Validade do Imunizante</label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="Veterinario" name="Veterinario" placeholder="Veterinario" required />
        <label for="especie">Veterinario</label>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2 my-2">Cadastrar</button>
</form>