@{
    Layout = Layout;
    ViewData["ExibirNavbar"] = false;
    ViewData["Title"] = "Login";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Login / Sign-up</title>
</head>

<h3 id="formTitle" class="h3 mb-3 fw-normal">Login</h3>

<!-- Login -->
<form method="post" asp-controller="Login" asp-action="UserLogin" id="loginForm">
    <div class="form-floating">
        <input type="email" class="form-control" id="email" name="Email" placeholder="seuemail@email.com" required />
        <label for="email">E-mail</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="password" name="Password" placeholder="senha" required />
        <label for="password">Senha</label>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2 my-2">Login</button>
</form>

<!-- Registro -->
<form method="post" asp-controller="Login" asp-action="CreateUser" id="registerForm" style="display: none;">
    <div class="form-floating">
        <input type="text" class="form-control" id="regName" name="Name" placeholder="Nome" required />
        <label for="regName">Nome</label>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" id="regEmail" name="Email" placeholder="seuemail@email.com" required />
        <label for="regEmail">E-mail</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="regPassword" name="Password" placeholder="senha" required />
        <label for="regPassword">Senha</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="senha" required />
        <label for="confirmPassword">Confirmar senha</label>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2 my-2">Registrar</button>
</form>

<label id="lblConta" for="toggleFormBtn">Não tem conta? </label>
<a href="#" id="toggleFormBtn">Registrar</a>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let isLogin = true;
        document.getElementById('toggleFormBtn').addEventListener('click', function (e) {
            e.preventDefault();
            isLogin = !isLogin;
            document.getElementById('loginForm').style.display = isLogin ? 'block' : 'none';
            document.getElementById('registerForm').style.display = isLogin ? 'none' : 'block';
            document.getElementById('formTitle').textContent = isLogin ? 'Login' : 'Registrar';
            document.getElementById('toggleFormBtn').textContent = isLogin ? 'Registrar' : 'Login';
            document.getElementById('lblConta').textContent = isLogin ? 'Não tem conta? ' : 'Já tem conta? ';
        });
    });
</script>