@{
    ViewData["Title"] = "Pet Control";
}

<main class="w-100 m-auto form-container">
    <label id="lblAddPet" for="toggleFormBtn">Ainda sem pets cadastrados? </label>
    <a href="#" id="toggleFormBtn">Cadastre aqui!</a>

    @* TODO: MOSTRAR ESSA MENSAGEM CASO NÃO TENHA NENHUM PET, CASO TENHA, MOSTRAR A LISTA COM TODOS OS PETS.*@

</main>
